<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="/assets/css/eStyle.css" type="text/css" /> --}}
    <title>URL-Short</title>


</head>

<body>
    <main>
        <div class="nav-container">
            <a href="/">
                {{!-- Some image here later --}}
                Home
            </a>
            <nav>
                <ul>
                    <li><a href="https://dcoco1890.github.io/Port-3/">
                            Author
                        </a></li>
                    <li>
                        <a href="https://github.com/dcoco1890">
                            Github
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {{{ body }}}


    </main>
</body>

</html>