<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="display-4">URL-Short</h1>
            <div class="card">
                <div class="card-header py-1">
                    <h4 class="mb-0">Enter URL and I'll shorten it</h4>
                </div>
                <div class="card-body m-2 p-0">

                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" id="ogURL"
                                placeholder="http://really.long/@$$/URL/thats/hard/to/remember.org">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit"
                                    id="submit-button">Submit</button>
                            </div>
                    </form>

                </div>
                <small id="url-help" class="form-text text-muted pl-1">URL's must be full, i.e
                    http://google.com/3/4/5</small>

            </div>
        </div>
    </div>
</div>